body {
    --hover-color: #effae5;

    --app-theme-bg-color: #629D35;
    --app-secondary-color: #f3e0c9;

    --app-border-color: #d8ebca;
    --app-theme-text-color: #fff;

    --app-blue: #1C9BEF;
}

.app {
    display: flex;
    height: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}